.green_cell {
  background-color: white;
  color: #3c763d !important;
}

.red_cell {
  background-color: white;
  color: #cd2929 !important;
}

.yellow_cell {
  background-color: white;
  color: #7d6c00 !important;
}

.black_cell {
  background-color: white;
  color: #000 !important;
}

.gray_cell {
  background-color: white;
  color: #e0e0e0 !important;
}

.unitRow td:hover {
  background-color: #f7f7f7;
}

.part_date {
  position: relative;
  bottom: 30px;
  left: 55px;
}