.ui.inverted.blue.menu {
  background-color: #2a323d;
}
.landing_container {
  background: asset_url('directors_landing/top_bg.jpg') 0 0 no-repeat;
  background-size: 1920px;
  background-position-y: -477px;
  margin-top: 50px;
  width: 100%;
  font-family: arial, sans-serif;
  height: 1807px;
  #directors_landing {
    width: 1000px;
    margin: 20px auto;
    #about {
      .header {
        margin-top: -9px;
        font-size: 56px;
        line-height: 72px;
        font-weight: bolder;
        color: #fff;
        letter-spacing: 1px;
      }
      .logo {
        background: asset_url('directors_landing/logo.png') 0 0 no-repeat;
        position: relative;
        background-size: cover;
        z-index: 10;
        width: 100px;
        height: 100px;
        top: 62px;
        left: -75px;
      }
      .description {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        font-weight: bolder;
      }
      .right_float{
        width: 195px;
        margin: 110px 45px 0 0;
      }
      .first_training {
        .title {
          font-size: 24px;
          line-height: 32px;
          color: white;
        }
        .group_places {
          font-size: 16px;
          line-height: 22px;
          color: #fff;
          margin-top: 14px;
        }
        .time_left {
          font-size: 16px;
          line-height: 22px;
          color: #f1c42c;
        }
        .join_button {
          background: #eeba2b;
          width: 134px;
          border-radius: 3px;
          padding: 12px 20px;
          margin-top: 26px;
          font-size: 18px;
          line-height: 22px;
          border: 0;
        }
      }
      .advantages {
        margin-top: 50px;
        .advantage {
          display: inline-block;
          width: 227px;
          padding-top: 110px;
          vertical-align: top;
          margin-right: 13px;
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
        }
        .management {
          background: asset_url('socials/facebook.png') 0 0 no-repeat;
          background-size: 60px;
        }
        .effectiveness {
          background: asset_url('socials/twitter.png') 0 0 no-repeat;
          background-size: 60px;
        }
        .partners {
          background: asset_url('socials/vk.png') 0 0 no-repeat;
          background-size: 60px;
        }
      }
    }
    #creators {
      margin-top: 100px;
      .creator {
        display: inline-block;
        width: 48%;
        vertical-align: top;
        margin-top: 66px;
        padding-left: 119px;
        .title {
          font-size: 24px;
          line-height: 32px;
          font-weight: bolder;
        }
        .description {
          font-size: 14px;
          line-height: 22px;
          margin-top: 20px;
        }
      }
      .author {
        background: asset_url('socials/vk.png') 0 0 no-repeat;
        background-size: 60px;
      }
      .trainer {
        background: asset_url('socials/facebook.png') 0 0 no-repeat;
        background-size: 60px;
      }
    }
    #course_programm {
      margin-top: 100px;
      margin-left: -1000px;
      padding-left: 1000px;
      padding-bottom: 99px;
      margin-right: 120px;
      background-color: #f2efe1;
      tr {
        vertical-align: top;
      }
      .title {
        padding-top: 90px;
        font-size: 32px;
        line-height: 42px;
        font-weight: bold;
      }
      .description {
        font-size: 18px;
        line-height: 26px;
        padding-top: 27px;
      }
      table {
        margin-top: 30px;
        td {
          padding-top: 36px;
        }
        .part {
          width: 157px;
          .part_name {
            font-size: 16px;
            line-height: 22px;
            font-weight: bolder;
          }
          .part_dates {
            padding-top: 10px;
            font-style: italic;
            font-family: 'Times New Roman';
            font-size: 16px;
          }
        }
        .programm {
          width: 295px;
          font-size: 14px;
          line-height: 27px;
        }
        .result {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
    #has_questions {
      .title {
        margin: 63px 0;
        display: inline-flex;
        font-size: 18px;
        line-height: 26px;
      }
      .call_form {
        display: inline;
        position: relative;
        top: 15px;
        left: 30px;
        input[type="text"] {
          margin-right: 16px;
          width: 200px;
          height: 50px;
          font-size: 1rem;
          border: 1px solid rgba(39, 41, 43, 0.15);
          color: rgba(0, 0, 0, 0.8);
          border-radius: 0.2857rem;
          padding-left: 14px;
          font-size: 18px;
        }
        .ui.basic.button {
          height: 50px;
          border: 1px solid rgba(39, 41, 43, 0.15);
          font-size: 18px;
          padding-left: 0px;
          width: 170px;
          background: #fff !important;
        }
      }
    }
    #reviews {
      margin-top: 70px;
      .title {
        font-size: 32px;
        line-height: 42px;
        font-weight: bolder;
      }
      .slick-prev {
        height: 60px;
        cursor: pointer;
        margin-top: -33px;
        width: 23px;
        background-size: contain !important;
        background: asset_url('directors_landing/left_arrow.png') 0 0 no-repeat;
        &:hover {
          background: asset_url('directors_landing/left_arrow_hover.png') 0 0 no-repeat;
        }
      }
      .slick-next {
        margin-top: -33px;
        width: 23px;
        background-size: contain !important;
        margin-right: 45px;
        height: 62px;
        cursor: pointer;
        background: asset_url('directors_landing/right_arrow.png') 0 0 no-repeat;
        &:hover {
          background: asset_url('directors_landing/right_arrow_hover.png') 0 0 no-repeat;
        }
      }
      .review {
        .text {
          display: inline-block;
          padding: 32px 0 0 80px;
          font-size: 18px;
          line-height: 26px;
        }
        .photo {
          display: inline-block;
          vertical-align: top;
          margin-left: 38px;
          margin-top: 35px;
          width: 200px;
          .name {
            font-size: 16px;
            line-height: 22px;
          }
          .profession {
            font-size: 16px;
            line-height: 22px;
            font-style: italic;
            font-family: 'Times New Roman';
          }
        }
      }
    }
  }
}
.left_float {
  float: left;
}
.right_float {
  float: right;
}

