.ui.grid {
  margin-left: 4rem;
}

.ui.card {
  width: 200px;
}

img.ui.avatar.image {
  display: inline-block !important;
  margin-right: 10px !important;
}

.ui.menu .item {
  line-height: 36px;
}
.top_menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 80px;
}

.footer {
 font-size: 12px;
}

.ui.right.sidebar {
  top: 59px;
  max-width: 350px;
  padding-bottom: 70px;
}

#hide-sidebar {
  width: 60px;
  height: 45px;
  position: fixed;
  right: 90px;
  top: 70px;
}

.left_content {
  margin: 80px auto 0 20px;
}

.social {
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 11.9999990463257px;
  background-color: rgba(236, 236, 236, 0.156863);
  color: rgba(0, 0, 0, 0.8);
  &:hover {
    color: black;
  }
}

.twitter:hover {
  background: rgba(191, 237, 250, 0.8);
}

.vk:hover {
  background-color: rgba(211, 218, 227, 0.8);
}

.facebook:hover {
  background-color: rgba(207, 212, 229, 0.8);
}

.google:hover {
  background-color: rgba(246, 207, 207, 0.8);
}

span.title {
  position: relative;
  bottom: 6px;
}

.twitter_icon {
  background: asset_url('socials/twitter.png') 0 0 no-repeat;
}
.vk_icon {
  background: asset_url('socials/vk.png') 0 0 no-repeat;
}
.google_icon {
  background: asset_url('socials/google.png') 0 0 no-repeat;
}
.facebook_icon {
  background: asset_url('socials/facebook.png') 0 0 no-repeat;
}
.social_icon {
  position: relative;
  text-align: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-right: 10px;
}

.footer {
  margin-top: 40px;
  width: 100%;
}
.footer_content {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}