.column .ui.list .item.red {
  color: red;
}
.column .ui.list .item.green {
  color: green;
}

.column .ui.list .item .content .description {
  font-weight: normal;
  &.red {
    color: red !important;
  }
}

.column .ui.list .item .content .description.green {
  color: green !important;
}

h4.ui.header.question {
  max-width: 70%;
  margin-left: 30px;
  text-align: justify;
}

.numeric {
  float: left;
  margin-right: 10px;
}

.quiz_result {
  font-size: 20px !important;
}