/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require form_fix
 *= require semantic-ui/semantic
 *= require global
 *= require select2.min
 *= require jquery.tagit
 *= require_self
 */
@media screen and (min-width: 1200px) {
    .container {
        width: 980px;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        width: 700px;
        margin-left: 120px;
    }
    .ui.steps {
        overflow: visible;
    }
    .ui.steps .step {
        display: block;
        border-radius: 0em;
        padding: 0.9285em 1.5em;
    }
    .ui.steps .step:first-child {
        padding: 0.9285em 1.5em;
        border-radius: 0.2857rem 0.2857rem 0em 0em;
    }
    .ui.steps .step:last-child {
        border-radius: 0em 0em 0.2857rem 0.2857rem;
    }
    /* Arrow */
    .ui.steps .step:after {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .container {
        width: 500px;
        margin-left: 120px;
    }
    .ui.steps {
        overflow: visible;
    }
    .ui.steps .step {
        display: block;
        border-radius: 0em;
        padding: 0.9285em 1.5em;
    }
    .ui.steps .step:first-child {
        padding: 0.9285em 1.5em;
        border-radius: 0.2857rem 0.2857rem 0em 0em;
    }
    .ui.steps .step:last-child {
        border-radius: 0em 0em 0.2857rem 0.2857rem;
    }
    /* Arrow */
    .ui.steps .step:after {
        display: none;
    }
}

.clear {
    clear: both;
}
.ui.comments {
    max-width: 100% !important;
}

.comment {
    padding: 5px!important;
    border-radius: 0.2857rem !important;
}
.comment:hover {
    background-color: #edf1f5 !important;
    padding: 5px!important;
    border-radius: 0.2857rem !important;
}

.date {
    font-size: 0.9em;
}
.created_date {
    font-size: 0.7em;
}
/*.ui.form textarea {*/
    /*min-height: 80px;*/
    /*max-height: 80px;*/
/*}*/

.item_message {
    padding: 5px!important;
    border-radius: 0.2857rem !important;
    cursor: default;
}

.item_message:hover {
    background-color: #edf1f5 !important;
    padding: 5px!important;
    border-radius: 0.2857rem !important;
}

.unread-message {
    background-color: #c4e3f3 !important;
    padding: 5px!important;
    border-radius: 0.2857rem !important;
}

.ui.divider {
    margin: 5px 0;
}

.description {
    max-width: 700px;
}

.hide_error {
    display: none !important;
}

.fish_body {
    width: 45%;
    display: inline-block;
    padding: 60px 30px;
    margin: 15px 0;
    border: 2px solid #a7c6e0;
}

.rowspan_cell {
    border-right: 1px solid #d4d4d5;
}
.profile_table tr td, .profile_table tr th {
    border-left: 1px solid #d4d4d5 !important;
    border-top: 1px solid #d4d4d5 !important;
}

.with_indent {
    margin: 10px 0;
}

.unitRow {
    cursor: pointer;
}

.webinarScore {
    width: 40px !important;
}

.itemGroupList {
    cursor: pointer;
}

.itemGroupList:hover {
    background-color: #edf1f5;
}

.quizImage {
    margin-bottom: 30px;
}

module-accordion {
    margin-top: 15px;
    cursor: pointer;
}

.timeoutDescription {
    color: #d95c5c !important;
}


