.ui.blue.inverted.menu
  background-color: #5B738D !important

.container
  width: 980px
  margin: 0 auto

  &.devise
    margin-top: 50px

.ui.right.sidebar
  width: auto

.sidebar-toggler#left
  position: fixed
  right: 0px
  top: 100px

.next_button
  text-align: right